body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
}
.app-wrapper {
  width: 100vw;
  height: 100vh;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.form {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.render {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FC5B55;
}

.form-campaign {
  width:80%;
}

.form-control {
  border: 1px solid #FC5B55;
}

.date {
  display: flex;
  flex-direction: column;
}

.date-picker {
  border-radius: 0.25rem ;
  border: 1px solid #FC5B55;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons div:nth-child(1) {
  margin-bottom: 2% ;
}

.card {
  width:80%;
  height:100%;
  margin-top: 13%;
}

.map {
  height:80px;
}
.map2 {

}

.logo-maps {
  width: 30px;
  height: 30px;
}

.nav{
  position: absolute;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: center;
  background-color: #333333;
  z-index: 3;
}

.text {
  color:#FC5B55;
}

.btn {
  background-color: #FC5B55;
  border: none;
}

.space {
  margin-bottom: 1rem;
}

.list-group-item {
  display: flex;
  flex-direction: column;
}

.alert{
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 4;
}